* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(20, 93, 147);
  background: linear-gradient(
    90deg,
    rgba(20, 93, 147, 1) 18%,
    rgba(17, 37, 123, 1) 58%,
    rgba(0, 0, 0, 1) 100%
  );
}

.container {
  display: grid;
  grid-template: "leftSideBar main";
  grid-template-columns: 100px 1fr;
  height: 100vh;
  gap: 3px;
}

/* Left Side Bar */
.leftSideBar {
  grid-area: leftSideBar;
  height: 100vh;
  background-color: rgb(30, 29, 29);
  display: grid;
  grid-template:
    "icons "
    "socialMedia";
  grid-template-rows: repeat(2, autofit);
  gap: 3px;
}

.icons {
  grid-area: icons;
  display: grid;
  grid-template:
    "homeIcon"
    "profileIcon"
    "contactIcon";
  grid-template-rows: repeat(3, autofit);
  gap: 1px;
  height: 170px;
  margin-top: 20px;
}

.socialMedia {
  grid-area: socialMedia;
  display: grid;
  grid-template:
    "linkedInIcon"
    "gitHubIcon";
  grid-template-rows: repeat(2, 35px);
  margin-top: 230px;
}

.homeIcon {
  grid-area: homeIcon;
  height: 50px;
  margin-left: 27px;
}

.homeIcon > img {
  margin-left: 27px;
  margin-top: 5px;
  cursor: pointer;
}

.profileIcon {
  grid-area: profileIcon;
  height: 50px;
  margin-left: 29px;
}

.profileIcon > img {
  margin-top: 5px;
  cursor: pointer;
}

.contactIcon {
  grid-area: contactIcon;
  height: 50px;
  margin-left: 27px;
}

.contactIcon > img {
  margin-top: 5px;
  fill-opacity: grey;
  cursor: pointer;
}

.linkedInIcon {
  grid-area: linkedInIcon;
  display: grid;
  align-items: end;
  justify-items: center;
  cursor: pointer;
}

.gitHubIcon {
  grid-area: gitHubIcon;
  display: grid;
  align-items: end;
  justify-items: center;
  cursor: pointer;
}

/* Main */

.main {
  grid-area: main;
}

.contact {
  text-align: left;
  margin-top: 50vh;
  transform: translateY(-50%);
  margin-left: 40px;
  opacity: 0;
  animation: slideInFromLeft 1s forwards, fadeIn 1s forwards;
}

/* Keyframes for slideInFromLeft animation */
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-10px); /* Slide in from left */
  }
  to {
    opacity: 1;
    transform: translateX(70); /* Return to original position */
  }
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Fade in */
  }
  to {
    opacity: 1;
  }
}

.contact > h1 {
  color: rgb(16, 174, 56);
  font-size: 53px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.contact > p {
  margin-top: 20px;
  color: #fff;
  margin-right: 50px;
  font-family: sans-serif;
}

.contact-form {
  width: 100%;
  margin-top: 20px;
}

.contact-form > ul {
  padding: 0;
  margin: 0;
}

.contact-form > form > ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  overflow: hidden;
}

.contact-form > form > ul > li.name {
  margin-bottom: 1px;
}

input[type="text"],
textarea {
  background-color: rgb(28, 69, 103);
  border: none;
  height: 40px;
  padding: 0 20px;
  color: #fff;
}

textarea {
  height: 50%;
  padding: 20px;
  min-height: 100px;
}

.submit {
  width: 60px;
  color: rgb(16, 174, 56);
  background-color: rgb(28, 69, 103);
  padding: 8px 5px;
  letter-spacing: 1px;
  border: 1px solid rgb(16, 174, 56);
  border-radius: 3px;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(16, 174, 56);
  color: rgb(37, 36, 36);
}

/* Media Queries */
/* For smaller devices (e.g., mobile phones) */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Adjust grid columns for smaller screens */
  }
  .leftSideBar {
    display: none;
  }
  .main {
    text-align: center; /* Center-align content */
  }
}
