* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(20, 93, 147);
  background: linear-gradient(
    90deg,
    rgba(20, 93, 147, 1) 18%,
    rgba(17, 37, 123, 1) 58%,
    rgba(0, 0, 0, 1) 100%
  );
}

.container {
  display: grid;
  grid-template: "leftSideBar main";
  grid-template-columns: 100px 1fr;
  height: 100vh;
  gap: 3px;
}

/* Left Side Bar */
.leftSideBar {
  grid-area: leftSideBar;
  height: 100vh;
  background-color: rgb(30, 29, 29);
  display: grid;
  grid-template:
    "icons "
    "socialMedia";
  grid-template-rows: repeat(2, autofit);
  gap: 3px;
}

.icons {
  grid-area: icons;
  display: grid;
  grid-template:
    "homeIcon"
    "profileIcon"
    "contactIcon";
  grid-template-rows: repeat(3, autofit);
  gap: 1px;
  height: 170px;
  margin-top: 20px;
}

.socialMedia {
  grid-area: socialMedia;
  display: grid;
  grid-template:
    "linkedInIcon"
    "gitHubIcon";
  grid-template-rows: repeat(2, 35px);
  margin-top: 230px;
}

.homeIcon {
  grid-area: homeIcon;
  height: 50px;
  margin-left: 27px;
}

.homeIcon > img {
  margin-left: 27px;
  margin-top: 5px;
  cursor: pointer;
}

.profileIcon {
  grid-area: profileIcon;
  height: 50px;
}

.profileIcon > img {
  margin-left: 29px;
  margin-top: 5px;
  cursor: pointer;
}

.contactIcon {
  grid-area: contactIcon;
  height: 50px;
}

.contactIcon > img {
  margin-left: 27px;
  margin-top: 5px;
  fill-opacity: grey;
  cursor: pointer;
}

.linkedInIcon {
  grid-area: linkedInIcon;
  display: grid;
  align-items: end;
  justify-items: center;
  cursor: pointer;
}

.gitHubIcon {
  grid-area: gitHubIcon;
  display: grid;
  align-items: end;
  justify-items: center;
  cursor: pointer;
}

/* Profile */

.profile-section {
  text-align: left;
  margin-top: 50vh;
  transform: translateY(-50%);
  margin-left: 40px;
}

.profile-heading {
  color: rgb(16, 174, 56);
  font-size: 53px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.profile-section > p {
  margin-top: 20px;
  color: #fff;
  margin-right: 50px;
  font-family: sans-serif;
}

.project-container {
  display: grid;
  grid-template: "screenshot title-des-link";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.screenshot {
  grid-area: screenshot;
}

.screenshot > img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.title-des-link {
  grid-area: title-des-link;
  height: auto;
  margin-right: 40px;
}

.title-des-link > h2 {
  margin-top: 20px;
  color: #fff;
  margin-left: 20px;
  font-family: sans-serif;
}

.title-des-link > p {
  margin-top: 20px;
  color: rgb(154, 151, 151);
  margin-left: 20px;
  margin-right: 20px;
  font-family: sans-serif;
}

.spotify-link {
  margin-top: 50px;
  margin-left: 20px;
  width: 150px;
  height: 40px;
  color: rgb(16, 174, 56);
  background-color: rgb(28, 69, 103);
  padding: 8px 5px;
  letter-spacing: 1px;
  border: 1px solid rgb(16, 174, 56);
  border-radius: 3px;
  cursor: pointer;
}

.spotify-link:hover {
  background-color: rgb(16, 174, 56);
  color: rgb(37, 36, 36);
}
